{% extends 'base.html'%} {% block content %}
<div class="container">
    <div class=" mb-3 row">
        <h3 class="mt-3 mb-3">Add Recipe</h3>
    </div>
    <div class="row">
        <form action="{{ url_for('insert_recipe') }}" method="POST" class="col-12">
            <div class="row border p-2 mb-2">
                <!-- recipe title input -->
                <div class="col-11">
                    <input class="col-10" id="recipe_title" name="recipe_title" placeholder="Enter a recipe title" type="text" required>
                    <label for="recipe_title">Recipe Name</label>
                </div>
                <!-- cook time input -->
                <div class="col-6">
                    <input class="col-8" id="cook_time" name="cook_time" placeholder="Enter cooking time" type="text" required>
                    <label for="cook_time">Cooking Time</label>
                </div>
                <!-- cuisine selector -->
                <div class="col-5">
                    <select id="cuisine" name="cuisine_type" required>
                        <option value="" disabled selected>Choose Cuisine</option>
                        {% for cuis in cuisine %}
                        <option value="{{cuis.cuisine_type}}">{{cuis.cuisine_type.capitalize()}}</option>
                        {% endfor %}
                    </select>
                    <label for="cuisine_selector">Cuisine Origin</label>
                </div>
            </div>
            <!-- ingredients list -->
            <p>Ingredients</p>
            <div class="row border py-2">
                <div class="col-12" id="ingredient_outer">
                    <div class="input-field mt-2">
                        <input class="col-11 mb-1" id="ingredient_field" name="ingredient_field" placeholder="Enter an ingredient" type="text">
                        <button class="mb-2" onclick="createIngredient(); return false;">Add Ingredient</button>
                    </div>
                </div>
            </div>
            <!-- method list -->
            <p class="mt-2">Method</p>
            <div class="row border py-2">
                <div class="col-12" id="method_outer">
                    <div class="input-field">
                        <textarea class="col-11" id="method_field" name="method_field" rows="3" cols="100%" placeholder="Type a method step here"></textarea>
                        <button class="mb-2" onclick="createMethod(); return false;">Add Method</button>
                    </div>
                </div>
            </div>
            <!-- information checkboxes -->
            <p class="mt-3">Additional information</p>
            <div class="row border py-1">
                <div class="switch mx-3">
                    <label>
                        <input id="is_vegetarian" name="is_vegetarian" type="checkbox">
                        <span class="lever"></span>
                        Vegetarian
                    </label>
                </div>
                <div class="switch">
                    <label>
                        <input id="is_vegan" name="is_vegan" type="checkbox">
                        <span class="lever"></span>
                        Vegan
                    </label>
                </div>
                <div class="switch mx-3">
                    <label>
                        <input id="has_gluten" name="has_gluten" type="checkbox">
                        <span class="lever"></span>
                        Contains gluten
                    </label>
                </div>
            </div>
            <!-- allergen checkboxes -->
            <p class='mt-3'>Allergen information</p>
            <div class="row border py-1">
                <div class="switch mx-3">
                    <label>
                        <input id="has_fish" name="has_fish" type="checkbox">
                        <span class="lever"></span>
                        Contains fish
                    </label>
                </div>
                <div class="switch">
                    <label>
                        <input id="has_nuts" name="has_nuts" type="checkbox">
                        <span class="lever"></span>
                        Contains nuts
                    </label>
                </div>
                <div class="switch mx-3">
                    <label>
                        <input id="has_milk" name="has_milk" type="checkbox">
                        <span class="lever"></span>
                        Contains milk
                    </label>
                </div>
                <div class="switch">
                    <label>
                        <input id="has_shellfish" name="has_shellfish" type="checkbox">
                        <span class="lever"></span>
                        Contains shellfish
                    </label>
                </div>
                <div class="switch mx-3">
                    <label>
                        <input id="has_soy" name="has_soy" type="checkbox">
                        <span class="lever"></span>
                        Contains soy
                    </label>
                </div>
                <div class="switch">
                    <label>
                        <input id="has_wheat" name="has_wheat" type="checkbox">
                        <span class="lever"></span>
                        Contains wheat
                    </label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row my-2">
                <button type="submit" id="submitButton">Add Recipe</button>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
