{% extends 'base.html'%} {% block content %}
<div class="container">
    <div class=" mb-3 row">
        <h3 class="mt-3 mb-3">Edit Recipe</h3>
    </div>
    <div class="row">
        <form action="{{ url_for('update_recipe' , recipe_id=recipe._id) }}" method="POST" class="col-12">
            <!-- row for title and cuisine type -->
            <div class="row border p-2 mb-2">
                <div class="col-8">
                    <input class="col-9" id="recipe_title" name="recipe_title" type="text" value="{{recipe.recipe_title}}" required>
                    <label for="icon_prefix">Recipe Name</label>
                </div>
                <div class="col-4">
                    <select id="cuisine" name="cuisine_type" required>
                        {% if recipe.cuisine_type %}
                        <option value="{{recipe.cuisine_type}}" selected>{{recipe.cuisine_type.capitalize()}}</option>
                        {% else %}
                        <option value="" disabled selected>Choose Cuisine</option>
                        {% endif %}
                        {% for cuis in cuisine %}
                        <option value="{{cuis.cuisine_type}}">{{cuis.cuisine_type.capitalize()}}</option>
                        {% endfor %}
                    </select>
                    <label>Cuisine Origin</label>
                </div>
                <div class="col-8">
                    <input class="col-6" id="cook_time" name="cook_time" type="text" value="{{recipe.cook_time}}" required>
                    <label for="icon_prefix">Cooking Time</label>
                </div>
            </div>
            <!-- main container for ingredients and method lists -->
            <div class="row border">
                <!-- ingredients list -->
                <div class="col-12">
                    <label class="mt-3">Ingredients</label>
                    <div class="input-field">
                        {% for ingredient in recipe.ingredients_list %}
                        <input class="col-11 mb-1" name="ingredient" type="text" value="{{ingredient}}"> {% endfor %}
                    </div>
                    <!-- method list -->
                    <div class="col-12">
                        <label class="mt-3">Method</label>
                        <div class="input-field">
                            {% for met in recipe.method_list %}
                            <textarea class="col-11" name="method" rows="3" cols="100%">{{met}}</textarea> {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- vegan / vegetarian switches -->
                <div class="row">
                    <div class="switch mr-3 ml-3">
                        <label>
                        <input id="is_vegetarian" name="is_vegetarian" type="checkbox">
                        <span class="lever"></span>
                        Vegetarian
                    </label>
                    </div>
                    <div class="switch">
                        <label>
                        <input id="is_vegan" name="is_vegan" type="checkbox">
                        <span class="lever"></span>
                        Vegan
                    </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" id="submitButton">Update Recipe</button>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
