{% extends 'base.html'%} {% block content %} {% for recipe in recipes %}
<div class="container border">
    <div class="row mt-3 ml-3">
        <h2>
            <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}">{{recipe.recipe_title.capitalize()}}</a>
        </h2>
    </div>
    <div class="row ml-3">
        <p class='mr-3'>Cooking time: {{recipe.cook_time}}</p>
        <p class="mr-3">Cuisine: {{recipe.cuisine_type.capitalize()}}</p>
        {% if recipe.is_vegetarian == 'on' %}
        <p class='mr-3 text-success'>Vegetarian</p>
        {% endif %}
        {% if recipe.is_vegan == 'on' %}
        <p class='mr-3 text-danger'>Vegan</p>
        {% endif %}
    </div>
</div>

{% endfor %} {% endblock %}
