{% extends 'base.html'%} {% block content %}

<nav class="navbar navbar-expand-lg navbar-light navbar-blue">
    <a class="navbar-brand" href="{{url_for('get_recipes')}}">QuickSearch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#quickSearchBar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="quickSearchBar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('get_recipes')}}">Display recipes by: <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('get_recipes')}}">Alphabetical<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('newest_recipes')}}">Newest<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('upvoted_recipes')}}">Upvotes<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('vegetarian_recipes')}}">Vegetarian<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('vegan_recipes')}}">Vegan<span class="sr-only"></span></a>
            </li>
        </ul>
    </div>
</nav>

{{pagination.info}} {{ pagination.links }} {% for recipe in recipes %}
<div class="container border my-2">
    <div class="row col-11">
        <div class="row mt-3 ml-3 col-10">
            <h2>
                <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}">{{recipe['recipe_title'].capitalize()}}</a>
            </h2>
        </div>
        <div class="row ml-3 col-10">
            <p class='mr-3'>Cooking time: {{recipe.cook_time}}</p>
            <p class="mr-3">Cuisine: {{recipe.cuisine_type.capitalize()}}</p>
            <!-- format timestamp -->
            <p>Created on: {{recipe['created'].strftime('%d-%m-%Y')}}</p>
        </div>
        <p>Upvotes: {{recipe.upvotes}}</p>
    </div>
    <div class="row ml-3 col-11">
        <!-- check if recipe is vegetarian / vegan and color code accordingly -->
        {% if recipe.is_vegetarian == 'on' %}
        <p class='mr-3 text-success'>Vegetarian</p>
        {% endif %} {% if recipe.is_vegan == 'on' %}
        <p class='mr-3 text-success'>Vegan</p>
        {% endif %}
    </div>
    <div class="row ml-3 col-11">
        <!-- display allergen information -->
        <p class="mr-1">Contains:</p>
        {% if not recipe.allergen_info %}
        <p class="mr-1"> no allergens</p>
        {% else %} {% for allergen in recipe.allergen_info %}
        <p class='mr-3 text-danger'>{{allergen}}</p>
        {% endfor %} {% endif %}
    </div>
</div>

{% endfor %} {{ pagination.links }} {% endblock %}
