{% extends 'base.html'%} {% block content %}
<div class="container">
    <div class=" mb-3 row">
        <h3 class="mt-3 mb-3">Search For Recipes</h3>
    </div>

    <!-- flash message display -->
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="row">
        <ul class=flashes>
            {% for message in messages %}
            <p class="bg-warning text-center">{{ message }}</p>
            {% endfor %}
        </ul>
    </div>
    {% endif %} {% endwith %}

    <div class="row">
        <form action="{{ url_for('search_page') }}" method="POST" class="col-12">
            <div class="row border p-2 mb-2">
                <!-- cook time input -->
                <div class="width-restriction">
                    <div class="input-field mt-2">
                        <input class="col-12 mb-1" name='cookTimeSearch' id="cookTimeSearch" placeholder="Input a desired cooking time" type="number">
                    </div>
                    <label for="cookTimeSearch">Cook Time</label>
                </div>
                <!-- cuisine selector -->
                <div class="width-restriction">
                    <div class="input-field mt-2">
                        <input class="col-12 mb-1" name='cuisineSearch' id="cuisineSearch" placeholder="Input a desired cuisine type" type="text">
                    </div>
                    <label for="cuisineSearch">Cuisine Origin</label>
                </div>
            </div>
            <!-- ingredients list -->
            <p>Ingredients</p>
            <div class="row border py-2">
                <div class="col-12" id="ingredient_outer">
                    <div class="input-field mt-2">
                        <input class="col-11 mb-1" name='ingredientField' id="ingredientField" placeholder="Input an ingredient" type="text">
                    </div>
                </div>
            </div>
            <!-- information checkboxes -->
            <p class="mt-3">Additional information</p>
            <div class="row border py-1">
                <div class="switch mx-3">
                    <label>	
                        <input id="has_gluten" name="has_gluten" type="checkbox">	
                        <span class="lever"></span>	
                        Gluten free	
                    </label>
                </div>
            </div>
            <!-- allergen checkboxes -->
            <p class='mt-3'>Allergen information</p>
            <div class="row border py-1">
                <div class="switch mx-3">
                    <label>	
                        <input id="has_fish" name="has_fish" type="checkbox">	
                        <span class="lever"></span>	
                        Fish free	
                    </label>
                </div>
                <div class="switch">
                    <label>	
                        <input id="has_nuts" name="has_nuts" type="checkbox">	
                        <span class="lever"></span>	
                        Nut free	
                    </label>
                </div>
                <div class="switch mx-3">
                    <label>	
                        <input id="has_milk" name="has_milk" type="checkbox">	
                        <span class="lever"></span>	
                        Dairy free	
                    </label>
                </div>
                <div class="switch">
                    <label>	
                        <input id="has_shellfish" name="has_shellfish" type="checkbox">	
                        <span class="lever"></span>	
                        Shellfish free	
                    </label>
                </div>
                <div class="switch mx-3">
                    <label>	
                        <input id="has_soy" name="has_soy" type="checkbox">	
                        <span class="lever"></span>	
                        Soy free	
                    </label>
                </div>
                <div class="switch">
                    <label>	
                        <input id="has_wheat" name="has_wheat" type="checkbox">	
                        <span class="lever"></span>	
                        Wheat free	
                    </label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row my-2">
                <button type="submit" id="submitButton">Search</button>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
