<div class="row">
    <h1>{{recipe.recipe_title.capitalize()}}</h1>
    <p>Cooking time: {{recipe.cook_time}}</p>
    <p>Recipe by: {{recipe.author_name}}</p>
    <p>Cuisine: {{recipe.cuisine_type.capitalize()}}</p>

    <div>
        <ul>
            {% for ingredient in recipe.ingredients_list %} 
                <li>{{ingredient.capitalize()}}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <ol>
            {% for method in recipe.method_list %}
                <li>{{method}}</li><br>
            {% endfor %}
        </ol>
    </div>
</div>