{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <h1 class='m-3'>{{recipe.recipe_title.capitalize()}}</h1>
    </div>
    <div class="row">
        <p class='mr-3'>Cooking time: {{recipe.cook_time}}</p>
        <p class='mr-3'>Recipe by: {{recipe.author_name}}</p>
        <p>Cuisine: {{recipe.cuisine_type.capitalize()}}</p>
    </div>
    <h2>Ingredients</h2>
    <div class="row">

        <ul>
            {% for ingredient in recipe.ingredients_list %}
            <li>{{ingredient.capitalize()}}</li>
            {% endfor %}
        </ul>
    </div>
    <h2>Method</h2>
    <div class="row">
        <ol>
            {% for method in recipe.method_list %}
            <li>{{method.capitalize()}}</li>
            <br> {% endfor %}
        </ol>
    </div>
    {% if session['username'] == recipe.author_name %}
    <div class="row">
        <a  class="btn btn-outline-primary mx-3" href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">Edit Recipe</a>
        <button class="btn btn-outline-danger mx-3" href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Delete Recipe</button>
    </div>
    {% endif %}
</div>
{% endblock %}
